{% extends ':config:baseConfig.html.twig' %}

{% block title %}Editing country data{% endblock %}

{% block header %}Editing country data{% endblock %}

{% block content %}
    <div class="content col-lg-offset-3 col-lg-6">
        {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Save changes" class="btn btn-default" />
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
